In [4]:
import pandas as pd

# -------------------------------
# 1. Load the Sales Data (CSV)
# -------------------------------
df = pd.read_csv("Sales Data.csv")

print("First 5 Rows:")
print(df.head(), "\n")

# -------------------------------
# 2. Explore Data Structure
# -------------------------------
print("Dataset Info:")
print(df.info(), "\n")

print("Missing Values per Column:")
print(df.isnull().sum(), "\n")

# -------------------------------
# 3. Data Cleaning
# -------------------------------
# Remove unnecessary column
if 'Unnamed: 0' in df.columns:
    df = df.drop('Unnamed: 0', axis=1)

# Remove duplicates
df = df.drop_duplicates()

# Convert Order Date to datetime
df['Order Date'] = pd.to_datetime(df['Order Date'])

# Check for negative or zero sales
df = df[df['Sales'] > 0]

print("Cleaned Data:")
print(df.head(), "\n")

# -------------------------------
# 4. Transformation & Analysis
# -------------------------------
# Example 1: Total Sales per City
city_sales = df.groupby('City')['Sales'].sum().reset_index().sort_values('Sales', ascending=False)
print("Total Sales by City:")
print(city_sales, "\n")

# Example 2: Most Sold Products
top_products = df.groupby('Product')['Quantity Ordered'].sum().reset_index().sort_values('Quantity Ordered', ascending=False)
print("Top 5 Products by Quantity Ordered:")
print(top_products.head(), "\n")

# Example 3: Average Order Value per Month
monthly_avg = df.groupby('Month')['Sales'].mean().reset_index()
print("Average Sales per Month:")
print(monthly_avg, "\n")

# -------------------------------
# 5. Save Cleaned Unified Data
# -------------------------------
df.to_csv("Cleaned_Sales_Data.csv", index=False)
print("Cleaned data saved as 'Cleaned_Sales_Data.csv'")
print(df['Sales'].sum())
# Apply multiple aggregate functions to one column
# print(df['A'].agg(['sum', 'mean', 'min', 'max', 'std']))

First 5 Rows:
   Unnamed: 0  Order ID               Product  Quantity Ordered  Price Each  \
0           0    295665    Macbook Pro Laptop                 1     1700.00
1           1    295666    LG Washing Machine                 1      600.00
2           2    295667  USB-C Charging Cable                 1       11.95
3           3    295668      27in FHD Monitor                 1      149.99
4           4    295669  USB-C Charging Cable                 1       11.95

            Order Date                        Purchase Address  Month  \
0  2019-12-30 00:01:00  136 Church St, New York City, NY 10001     12
1  2019-12-29 07:03:00     562 2nd St, New York City, NY 10001     12
2  2019-12-12 18:21:00    277 Main St, New York City, NY 10001     12
3  2019-12-22 15:13:00     410 6th St, San Francisco, CA 94016     12
4  2019-12-18 12:38:00           43 Hill St, Atlanta, GA 30301     12

     Sales            City  Hour
0  1700.00   New York City     0
1   600.00   New York City     7
2    11.95   New York City    18
3   149.99   San Francisco    15
4    11.95         Atlanta    12

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        185950 non-null  int64
 1   Order ID          185950 non-null  int64
 2   Product           185950 non-null  object
 3   Quantity Ordered  185950 non-null  int64
 4   Price Each        185950 non-null  float64
 5   Order Date        185950 non-null  object
 6   Purchase Address  185950 non-null  object
 7   Month             185950 non-null  int64
 8   Sales             185950 non-null  float64
 9   City              185950 non-null  object
 10  Hour              185950 non-null  int64
dtypes: float64(2), int64(5), object(4)
memory usage: 15.6+ MB
None

Missing Values per Column:
Unnamed: 0          0
Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
Month               0
Sales               0
City                0
Hour                0
dtype: int64

Cleaned Data:
   Order ID               Product  Quantity Ordered  Price Each  \
0    295665    Macbook Pro Laptop                 1     1700.00
1    295666    LG Washing Machine                 1      600.00
2    295667  USB-C Charging Cable                 1       11.95
3    295668      27in FHD Monitor                 1      149.99
4    295669  USB-C Charging Cable                 1       11.95

           Order Date                        Purchase Address  Month    Sales  \
0 2019-12-30 00:01:00  136 Church St, New York City, NY 10001     12  1700.00
1 2019-12-29 07:03:00     562 2nd St, New York City, NY 10001     12   600.00
2 2019-12-12 18:21:00    277 Main St, New York City, NY 10001     12    11.95
3 2019-12-22 15:13:00     410 6th St, San Francisco, CA 94016     12   149.99
4 2019-12-18 12:38:00           43 Hill St, Atlanta, GA 30301     12    11.95

             City  Hour
0   New York City     0
1   New York City     7
2   New York City    18
3   San Francisco    15
4         Atlanta    12

Total Sales by City:
             City       Sales
7   San Francisco  8254743.55
4     Los Angeles  5448304.28
5   New York City  4661867.14
2          Boston  3658627.65
0         Atlanta  2794199.07
3          Dallas  2765373.96
8         Seattle  2745046.02
6        Portland  2319331.94
1          Austin  1818044.33

Top 5 Products by Quantity Ordered:
                     Product  Quantity Ordered
5     AAA Batteries (4-pack)             30986
4      AA Batteries (4-pack)             27615
15      USB-C Charging Cable             23931
12  Lightning Charging Cable             23169
17          Wired Headphones             20524

Average Sales per Month:
    Month       Sales
0       1  187.793913
1       2  183.999170
2       3  185.416007
3       4  185.639370
4       5  190.346558
5       6  190.342087
6       7  185.391336
7       8  187.648277
8       9  180.510703
9      10  184.442583
10     11  182.277420
11     12  184.745658

Cleaned data saved as 'Cleaned_Sales_Data.csv'
34465537.94